.hero-section {
    background: url('../../images/banners/hero.jpg') no-repeat center;
    height: 500px;
    position: relative;
    background-size: cover;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content {
    color: #ffffff;
    max-width: 388px;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 0.5rem;
    font-weight: 400;

}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}