.highlight {
    grid-area: highlight;
    background-color: antiquewhite;
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-color: aquamarine;
}

.model {
    grid-area: model;
    background-color: lightgreen;
}

.sneaker-color {
    grid-area: sneaker-color;
    background-color: pink;
}

.sneaker-white {
    grid-area: sneaker-white;
    background-color: yellow;
}
.sneaker-silver {
    grid-area: sneaker-silver;
    background-color: purple;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "highlight highlight sneaker-purple sneaker-purple"
    "highlight highlight model sneaker-color"
    "sneaker-white sneaker-white model sneaker-silver";
    gap: 20px;
    margin-top: 40px;
}