.highlight {
    grid-area: highlight;
    background-image: url(../../images/products/card-imagem.jpg);
    background-size: cover;
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url(../../images/products/roxo-verde-grid.jpg);
    background-size: cover;
    background-position: center;
}

.model {
    grid-area: model;
    background-color: lightgreen;
    background-image: url(../../images/products/modelo-feminino.jpg);
    background-size: cover;
    background-position: center;
}

.sneaker-color {
    grid-area: sneaker-color;
    background-color: pink;
    background-image: url(../../images/products/preto-azul-grid.jpg);
    background-size: cover;
    background-position: center;
}

.sneaker-white {
    grid-area: sneaker-white;
    background-color: yellow;
    background-image: url(../../images/products/moderno.jpg);
    background-size: cover;
    background-position: center;
}
.sneaker-silver {
    grid-area: sneaker-silver;
    background-color: purple;
    background-image: url(../../images/products/futurista.jpg);
    background-size: cover;
    background-position: center;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "highlight highlight sneaker-purple sneaker-purple"
    "highlight highlight model sneaker-color"
    "sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;
}